<div class="headerBody">
    <div class="logo">
        <span routerLink="/">LOGO</span>
    </div>

    <div class="upperMenu">
        <button routerLink="/" [class]="focus == 0? 'focus': ''">Home</button>
        <button routerLink="/bio" [class]="focus == 1? 'focus': ''">About</button>
        <button routerLink="/skills" [class]="focus == 2? 'focus': ''">Skills</button>
        <button routerLink="/projects" [class]="focus == 3? 'focus': ''">Projects</button>
        <button routerLink="/contact" [class]="focus == 4? 'focus': ''">Contact</button>
    </div>

    <div class="menuConfig">
        <app-main-menu></app-main-menu>
    </div>
</div>