.menu {
    position: fixed;

    width: 20%;
    padding: 15px;

    right: 1%;
    top: 16%;

    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 10px;

    backdrop-filter: blur(2px);
}

.menuButton {
    border: 1px solid var(--border-color);
    cursor: default;
}
