<div class="home">
    <div class="homeMainGrid">
        <mat-card class="collumn" id="leftCollumn">
            <div id="hello" class="content">Hello, it's me</div>
            <div id="name" class="content">Reinaldo de Sousa Carvalho</div>
            <div id="occupation" class="content">I'm a </div>
            <div id="textNext" class="content">dasdakdoasd</div>
            <div id="contact" class="content">
                <div id="up">
                    <div class="button">
                        <img src="assets/instagram.svg" width="15px" height="15px" alt="instagram">
                    </div>
                    <div class="button">
                        <img src="assets/linkedin.svg" width="15px" height="15px" alt="linkedin">
                    </div>
                </div>
                <div id="down">
                    123
                </div>
            </div>
        </mat-card>
        <mat-card class="collumn" id="rightCollumn">
            <img id="photo" src="assets/perf1.png" />
        </mat-card>
    </div>
</div>